/***********
*
* Busca
*
************/
.busca-page {
    .nav-tabs{
        li{
            a{
                color: $primeira_cor_texto;
                &:hover, &:focus{
                    background: transparent;
                    color: $primeira_cor_fundo;
                }
            }
            &.active{
                a{
                    color: $primeira_cor_fundo;
                    &:hover{
                        background: transparent;
                        color: $primeira_cor_texto;
                        border-bottom-color: $whiteColor;
                    }
                }
            }
        }
    }
    #posts, #user {
        .formulario {
            padding: 15px 0;
            margin: 15px 0;
            margin-bottom: 0;
            background: transparent;
            border: 1px solid lightgray;

            label { color: $primeira_cor_fundo;  }

            .ms-sel-ctn {
                .ms-sel-item {
                    margin: 5px 0 10px 10px;
                }
            }

            @media only screen and (min-width: 1200px){
                .col2{
                    text-align: center;
                }
                #municipio{
                    width: 194px !important;
                }
            }
            @media only screen and (width: 1024px) and (height: 1366px){
                .form-inline{
                    .form-group{
                        #keyword{
                            width: 89%;
                        }
                    }
                }
            }
            @media only screen and (width: 768px){
                .form-inline{
                    .form-group{
                        margin-top: 5px;
                    }
                    .tags-cats {
                        display: inline-table;
                    }
                    #keyword{
                        width: 100%;
                    }     
                }
            }
            @media only screen and (min-width: 770px){
                .form-inline{
                    .form-group{
                        padding: 3px;
                        .input-daterange{
                            width: 90%;
                        }
                    }
                    .tags{
                        max-width: 200px;
                    }
                    #keyword{
                        //width: 312px;
                        width: 100%;
                    }
                }
            }
            @media only screen and (max-width: 700px){
                .tags-cats{
                    padding: 0;
                }
            }
            .filtro{
                float: right;
                margin: 10px 30px 0 0;
                color: $primeira_cor_fundo;
                border-color: $primeira_cor_texto
            }
        }
        .resultado{
            padding: 15px;
            padding-top: 0;
            .retorno{
                background: aliceblue;
                padding: 22px;
                margin: 0 -15px 0 15px;
                border-top-left-radius: 8px;
                font-weight: 500;
            }
            .classificar{
                background: aliceblue;
                margin: 0 15px 0 -15px;
                padding: 14px;
                border-top-right-radius: 8px;
            }
        }
    }
    #user{
       @media only screen and (min-width: 780px){
            .input-daterange{
                input{
                    margin-right: 15px !important;
                    width: 110px;
                }
            }
            #keyword{
                width: 230px !important;
            }
       }
    }

    #filter {
        .uf-city {
            margin-bottom: 10px;
            display: -webkit-box;
        }
    }
}

@media (min-width: 992px) {
    .busca-page .formulario {
        /* Elementos lado esquerdo (CEP, tag, categoria) */
        .col-sm-7 {
            #input-tag {
                width: 70%;
            }
        }

        /* Elementos lado direito (Data e palavra-chave) */
        .col-sm-5 {
            padding: 0;

            .date-range-container {
                width: 88%;
                display: inline-block;
                float: right;
            }

            .keyword-container {
                width: 82%;
                float: right;
            }

            label {
                padding: 0 !important;

                &.palavra-chave {
                    width: 15%;
                    text-align: right;
                    line-height: 17px;
                    font-size: 90%;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .busca-page .formulario {

        // container categoria
        .col-md-7 {
            margin-top: 4%;
        }

        /* Elementos lado direito (Data e palavra-chave) */
        .col-sm-5 {
            padding: 0;

            label {
                &.palavra-chave {
                    margin-top: 10px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .busca-page .formulario {
        .col-sm-7 {
            .ms-ctn.form-control {
                width: auto !important;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .busca-page .formulario {
        .col-sm-7 {

            .col-md-6 {
                width: 100%;

                select {
                    width: 80%;
                }
            }
        }
    }
}