/***********
*
* Busca
*
************/
.busca-page{
    .nav-tabs{
        li{
            a{
                color: $primeira_cor_texto;
                &:hover, &:focus{
                    background: transparent;
                    color: $primeira_cor_fundo;
                }
            }
            &.active{
                a{
                    color: $primeira_cor_fundo;
                    &:hover{
                        background: transparent;
                        color: $primeira_cor_texto;
                        border-bottom-color: $whiteColor;
                    }
                }
            }
        }
    }
    #posts, #user {
        .formulario{
            padding: 15px 0;
            margin: 15px 0;
            margin-bottom: 0;
            background: transparent;
            border: 1px solid lightgray;
            label{
                color: $primeira_cor_fundo;
            }
            @media only screen and (width: 1024px) and (height: 1366px){
                .form-inline{
                    .form-group{
                        #keyword{
                            width: 89%;
                        }
                    }
                }
            }
            @media only screen and (width: 768px){
                .form-inline{
                    .form-group{
                        margin-top: 5px;
                    }
                    .tags-cats {
                        display: inline-table;
                    }
                    #keyword{
                        width: 100%;
                    }
                }
            }
            @media only screen and (min-width: 770px){
                .form-inline{
                    white-space: nowrap;
                    .form-group{
                        padding: 5px;
                        .input-daterange{
                            width: 90%;
                        }
                    }
                    .tags{
                        max-width: 200px;
                    }
                    select[name='uf']{
                        margin-right: 76px;
                    }
                    select[name='municipio'], #keyword{
                        width: 209px;
                    }
                    #input-tag, select[name='uf']{
                        width: 200px;
                    }
                    label[for='tag']{
                        margin-right: 7px;
                    }
                    label[for='date']{
                        margin-right: 15px;
                    }
                    label[for='keyword']{
                        margin-left: 10px;
                    }
                    #keyword{
                        width: 100%;
                    }
                }
            }
            @media only screen and (max-width: 700px){
                .tags-cats{
                    padding: 0;
                }
                label[for='date']{
                    margin-left: -15px;
                }
            }
            .filtro{
                float: right;
                margin: 10px 13px 0 0;
                color: $primeira_cor_fundo;
                border-color: $primeira_cor_texto
            }
        }
        .resultado{
            padding: 15px;
            padding-top: 0;
            .dropdown{
                top: 13px;
            }
        }
    }
    #user{
       @media only screen and (min-width: 780px){
            select[name='uf']{
                margin-right: 28px !important;
                width: 164px !important;
            }
            select[name='municipio']{
                margin-right: 15px !important;
                width: 164px !important;
            }
            .input-daterange{
                input{
                    margin-right: 15px !important;
                    width: 110px;
                }
            }
            #keyword{
                width: 230px !important;
            }
       }
    }
}