/*
*
* LoginPanel
*
*/
.login, .register {
    margin-bottom: 50px;
    header{
        &.userpage {
            margin-top: 50px;
            &.userpage_register{
                margin-top: 0;
            }
            #register{
                #rhs_spot{
                    display: none;
                }

                #u_login, #confirm_email, #phone {
                    position: absolute;
                    left: -999em;
                }
                .capt{
                    .g-recaptcha{
                        @media only screen and (max-width: 768px){
                            position: absolute;
                            left: -23px;
                        }
                    }
                }
            }
        }
    }
}