/*
*
* LoginPanel
*
*/
.login, .register {
    margin-bottom: 50px;
    header{
        &.userpage {
            margin-top: 50px;
            &.userpage_register{
                margin-top: 0;
            }
            #register{
                #rhs_spot{
                    display: none;
                }
            }
        }
    }
}