/*
*
* LoginPanel
*
*/
.login, .register {
    margin-bottom: 50px;
    header{
        &.userpage {
            margin-top: 50px;
            &.userpage_register{
                margin-top: 0;
            }
            #register{
                #rhs_spot{
                    display: none;
                }

                #u_login, #confirm_email, #phone {
                    position: absolute;
                    left: -999em;
                }
                .capt{
                    .g-recaptcha{
                        @media only screen and (max-width: 768px){
                            position: absolute;
                            left: -23px;
                        }
                    }
                }
            }
        }
    }
}

.login-box {
    .col-md-12.container {
        padding-top: 10px;
    }
}

.rhs_menu {
    li a.open-login {
        color: $primeira_cor_texto;
        cursor: pointer;
    }

    .login-box-container {
        @media only screen {
            @media (max-width: 360px){
                width: 359px !important;
            }
            @media (max-width: 375px){
                width: 374px !important;
            }
            @media (max-width: 414px){
                width: 411px;
            }
            @media (min-width: 768px) {
                width: 550px;
            }
        }
        
        .btn-rhs{
            padding: 0;
            box-shadow: 1px 1px 0px 0px #d8d8d8;
        }
    }
}