/* Button Publicar e Ver Fila de Votação */

// Exclusivo para usuários logados
.logged-in {
    .buttons_top {
        padding-right: 0;
    }
} // .logged-in

// Uso geral: usuários logados e não logados
.buttons_top {
    float: right;
    text-align: right;
    margin: 0;

    span {
        color: white;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 10px;
    }

    li {
        display: inline-block;
        a {
            color: $primeira_cor_texto;
            font-size: small;
            text-transform: uppercase;
            font: {
                size: 10px;
                weight: bold;
            }
        } // a
        &:nth-child(2) {
            margin-left: 10px !important;
        }
    } // li
} // buttons_top