/*Button Publicar e Ver Fila de Votação*/
.buttons_top {
    float: right;
    a {
        color: $primeira_cor_texto;
        font-size: small;
        text-transform: uppercase;
        font: {
            size: 10px;
            weight: bold;
        }
        &:nth-child(2) {
            margin-left: 10px !important;
        }
    }
} // buttons_top