/***************
*
* Pagina Tickets
*
***************/
.tickets {
    .wrapper-content {
        .panel-body {
            .mb-b-md {
                h3 {
                    border-bottom: 1px solid rgba(119, 119, 119, 0.1);
                }
            }
        }
        .panel-heading {
            padding: 13px;
            .well-before {
                &::before {
                    position: absolute;
                    display: block;
                    left: -9px;
                    top: 3px;
                    content: '';
                    border: inherit;
                    border: {
                        width: 12px;
                        top-color: transparent;
                        bottom-color: transparent;
                        left-color: transparent;
                    }
                }
            }
            .well-after {
                p {
                    display: inline;
                }
                &::after {
                    position: absolute;
                    top: 3px;
                    right: -9px;
                    content: '';
                    border: inherit;
                    border: {
                        width: 12px;
                        top-color: transparent;
                        bottom-color: transparent;
                        right-color: transparent;
                    }
                }
            }
            article {
                &.panel {
                    &::before {
                        position: absolute;
                        display: block;
                        top: 3px;
                        left: -9px;
                        content: '';
                        width: 0px;
                        height: 0px;
                        border: inherit;
                        border: {
                            width: 12px;
                            top-color: transparent;
                            bottom-color: transparent;
                            left-color: transparent;
                        }
                    }
                }
            }
        }
    } // .wrapper-content
}

.wrapper-content {
    p.no-tickets {
        text-align: center;
        margin: 0;
        color: black;
    }
}